<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjtu.jzlj.mapper.CarAlarmMapper">

    <!--    通用结果查询-->
    <resultMap id="carAlarmRM_all" type="cn.edu.bjtu.jzlj.dao.CarAlarm">
        <id property="Id" column="id"/>
        <result property="terminalId" column="terminal_id"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="handled" column="handled"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <!-- 查询未处理的报警信息-->
    <select id="getAllUnHandle" resultType="cn.edu.bjtu.jzlj.dao.CarAlarm">
        SELECT ca.* , c.car_no
        FROM car_alarm ca left join car_info c
        on ca.terminal_id = c.terminal_id
        WHERE ca.handled = 0
    </select>
    <!--    查询已处理的报警信息-->
    <select id="getAllHandled" resultType="cn.edu.bjtu.jzlj.dao.CarAlarm">
        SELECT ca.* , c.car_no
        FROM car_alarm ca left join car_info c
        on ca.terminal_id = c.terminal_id
        WHERE ca.handled = 1
    </select>

    <!--    新增报警信息-->
    <insert id="insertCarAlarmInfo">
        INSERT into car_alarm
        (id, terminal_id, car_no, route_id, latitude, longitude, handled, update_user, update_time)
        VALUES
        (#{id},#{terminalId}, #{carNo}, #{routeId},  #{latitude, jdbcType=DOUBLE},#{longitude, jdbcType=DOUBLE},#{handled},#{updateUser},#{updateTime})
    </insert>

    <!--    处理报警信息-->
    <update id="handleCarAlarm">
        update car_alarm
        <set>
            handled = 1,
            status = #{status},
            remarks = #{remarks},
            update_user = #{updateUser},
            update_time = #{updateTime}

        </set>
        where id = #{id};
    </update>


    <update id="handleMCarAlarm">
        update car_alarm
        <set>
            handled = 1,
            status = #{status},
            remarks = #{remarks},
            update_user = #{updateUser},
            update_time = #{updateTime}
        </set>
        where id in
        <foreach collection="id" item="id" index="" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


    <select id="getAlarmCarNumber" resultType="cn.edu.bjtu.jzlj.vo.graph.getAlarmCarNumberVo">
SELECT date_format(update_time,'%Y-%m-%d') as alarmDate,
COUNT(*) as alarmNum
FROM car_alarm
GROUP BY date_format(update_time,'%Y-%m-%d')
ORDER BY date_format(update_time,'%Y-%m-%d')
DESC LIMIT 7

    </select>

    <select id="proportionOfVehicleCorrectAlarm" resultType="cn.edu.bjtu.jzlj.vo.graph.proportionOfVehicleCorrectAlarmVo">
        SELECT `status`  ,count(`status`) as numOfMisinformation FROM car_alarm GROUP BY `status`
    </select>


</mapper>