<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjtu.jzlj.mapper.RouteInfoMapper">

    <resultMap id="BaseResultMap" type="cn.edu.bjtu.jzlj.dao.RouteInfo">
        <id column="route_id" jdbcType="INTEGER" property="routeId" />
        <result column="route_name" jdbcType="VARCHAR" property="routeName" />
        <result column="route_design" jdbcType="VARCHAR" property="routeDesign" />
        <result column="lng_lat" jdbcType="VARCHAR" property="lngLat" />
        <result column="input_name" jdbcType="VARCHAR" property="inputName" />
        <result column="input_time" jdbcType="TIMESTAMP" property="inputTime" />
        <result column="content" jdbcType="VARCHAR" property="content" />
    </resultMap>

    <sql id="Base_Column_List">
        route_id, route_name, route_design, lng_lat, input_name, input_time, content
    </sql>

    <select id="getRouteInfoByRouteId" resultType="cn.edu.bjtu.jzlj.dao.RouteInfo">
        SELECT * FROM route_info WHERE 1=1
        <if test="  routeId != null and routeId != '' ">
            AND route_id = #{routeId}
        </if>
    </select>


    <!--    根据route id获取一条路线的信息-->
    <select id="getOneRouteInfoByRouteId" resultType="cn.edu.bjtu.jzlj.dao.RouteInfo">
        SELECT * FROM route_info WHERE 1=1
        <if test="  routeId != null and routeId != '' ">
            AND route_id = #{routeId}
        </if>
    </select>


    <select id="getListByPage" parameterType="cn.edu.bjtu.jzlj.dao.RouteInfo"
            resultType="cn.edu.bjtu.jzlj.dao.RouteInfo">
        SELECT * FROM route_info WHERE 1=1
        <if test="_parameter.containsKey('routeInfo') and routeInfo!= null">
            <if test="routeInfo.routeId != null and routeInfo.routeId != ''">
                AND route_id = '${routeInfo.routeId}'
            </if>
        </if>
    </select>

    <select id="getAllList" parameterType="cn.edu.bjtu.jzlj.dao.RouteInfo"
            resultType="cn.edu.bjtu.jzlj.dao.RouteInfo">
        SELECT * FROM route_info WHERE 1=1
        <if test="_parameter.containsKey('routeInfo') and routeInfo!= null">
            <if test="routeInfo.routeId != null and routeInfo.routeId != ''">
                AND route_id = '${routeInfo.routeId}'
            </if>
        </if>
        <if test="_parameter.containsKey('ew') and ew!= null">
            ${ew.customSqlSegment}
        </if>
    </select>

    <delete id="deleteByRouteId">
        DELETE FROM route_info WHERE 1=1
        <if test="  routeId != null and routeId != '' ">
            AND route_id = #{routeId}
        </if>
    </delete>

    <update id="updateinfo">
        UPDATE route_info
        <set>
            route_name = #{routeName},
            route_design = #{routeDesign},
            content = #{content},
        </set>
        WHERE route_id = #{routeId};
    </update>
</mapper>