<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjtu.jzlj.mapper.SourceInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.bjtu.jzlj.dao.SourceInfo">
        <id column="source_id" property="sourceId"/>
        <result column="source_name" property="sourceName"/>
        <result column="source_address" property="sourceAddress"/>
        <result column="source_attrbute" property="sourceAttrbute"/>
        <result column="qm_dept_no" property="qmDeptNo"/>
        <result column="source_type" property="sourceType"/>
        <result column="waste_total" property="wasteTotal"/>
        <result column="start_date" property="startDate"/>
        <result column="admin_unit" property="adminUnit"/>
        <result column="admin_legal_name" property="adminLegalName"/>
        <result column="admin_phone_no" property="adminPhoneNo"/>
        <result column="construction_unit" property="constructionUnit"/>
        <result column="construction_legal_name" property="constructionLegalName"/>
        <result column="construction_phone_no" property="constructionPhoneNo"/>
        <result column="lng" property="lng"/>
        <result column="lat" property="lat"/>
        <result column="input_name" property="inputName"/>
        <result column="input_time" property="inputTime"/>
        <result column="review_status" property="reviewStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        source_id,source_name,source_address,source_attrbute,qm_dept_no,source_type,waste_total,start_date,admin_unit,admin_legal_name,admin_phone_no,construction_unit,construction_legal_name,construction_phone_no,lng,lat,input_name,input_time,review_status
    </sql>

    <select id="getListByPage" parameterType="cn.edu.bjtu.jzlj.dao.SourceInfo"
            resultType="cn.edu.bjtu.jzlj.dao.SourceInfo">
        SELECT * FROM source_info WHERE 1=1
        <if test="sourceInfo.sourceId != null and sourceInfo.sourceId != ''">
            AND source_id = '${sourceInfo.sourceId}'
        </if>
    </select>

    <select id="getAllList" parameterType="cn.edu.bjtu.jzlj.dao.SourceInfo"
            resultType="cn.edu.bjtu.jzlj.dao.SourceInfo">
        SELECT * FROM source_info WHERE 1=1
        <if test="_parameter.containsKey('sourceInfo') and sourceInfo!= null">
            <if test="sourceInfo.sourceId != null and sourceInfo.sourceId != ''">
                AND source_id = '${sourceInfo.sourceId}'
            </if>
        </if>
        <if test="_parameter.containsKey('ew') and ew!= null">
            ${ew.customSqlSegment}
        </if>
    </select>

    <!--update SOURCE_INFO_NEW set REVIEW_STATUS = #{REVIEW_STATUS} where SOURCE_ID = #{SOURCE_ID}-->
    <update id="updateReviewStatus" parameterType="cn.edu.bjtu.jzlj.dao.SourceInfo">
        UPDATE source_info
        <set>
            review_status = #{reviewStatus},
        </set>
        WHERE source_id = #{sourceId};
    </update>

    <!--select * from SOURCE_INFO_NEW where INPUT_NAME = #{INPUT_NAME}-->
    <select id="getSourceInfoByInputName" resultType="cn.edu.bjtu.jzlj.dao.SourceInfo">
        SELECT * FROM source_info WHERE 1=1
        <if test="  inputName != null and inputName != '' ">
            AND input_name = #{inputName}
        </if>
    </select>
    <!--select * from SOURCE_INFO_NEW where INPUT_NAME = #{INPUT_NAME}-->
    <select id="getSourceInfoBySourceId" resultType="cn.edu.bjtu.jzlj.dao.SourceInfo">
        SELECT * FROM source_info WHERE 1=1
        <if test="  sourceId != null and sourceId != '' ">
            AND source_id = #{sourceId}
        </if>
    </select>

</mapper>
