<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjtu.jzlj.mapper.SysOrganizationUserMapper">


    <!-- 通用查询映射结果 -->

    <resultMap id="organizationUserRM_all" type="cn.edu.bjtu.jzlj.dao.SysOrganizationUser">

        <result jdbcType="VARCHAR" column="orgid" property="orgid" />
        <result jdbcType="VARCHAR" column="userid" property="userid" />

    </resultMap>


</mapper>