<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjtu.jzlj.mapper.THistoryPositionMapper">
  <resultMap id="BaseResultMap" type="cn.edu.bjtu.jzlj.dao.THistoryPosition">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <id column="uptime" jdbcType="TIMESTAMP" property="uptime" />
    <result column="terminal_id" jdbcType="VARCHAR" property="terminalId" />
    <result column="carno" jdbcType="VARCHAR" property="carno" />
    <result column="lon" jdbcType="DECIMAL" property="lon" />
    <result column="lat" jdbcType="DECIMAL" property="lat" />
    <result column="speed" jdbcType="DECIMAL" property="speed" />
    <result column="direction" jdbcType="INTEGER" property="direction" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="mile" jdbcType="DECIMAL" property="mile" />
    <result column="oil" jdbcType="DECIMAL" property="oil" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="alarmflag" jdbcType="VARCHAR" property="alarmflag" />
    <result column="acc" jdbcType="TINYINT" property="acc" />
    <result column="position" jdbcType="TINYINT" property="position" />
    <result column="lon_gcj02" jdbcType="DECIMAL" property="lonGcj02" />
    <result column="lat_gcj02" jdbcType="DECIMAL" property="latGcj02" />
    <result column="airtight" jdbcType="TINYINT" property="airtight" />
    <result column="load_state" jdbcType="TINYINT" property="loadState" />
    <result column="lift" jdbcType="TINYINT" property="lift" />
    <result column="savetime" jdbcType="TIMESTAMP" property="savetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uptime, terminal_id, carno, lon, lat, speed, direction, height, mile, oil, `status`, 
    alarmflag, acc, `position`, lon_gcj02, lat_gcj02, savetime, airtight, load_state, lift
  </sql>

  <select id="getHistoryPoint" parameterType="cn.edu.bjtu.jzlj.dao.THistoryPosition" resultMap="BaseResultMap">
    select  *   from  ${tableName} where terminal_id= #{terminalId}  and savetime <![CDATA[<=]]> STR_TO_DATE(#{eTime},'%Y-%m-%d %H:%i:%s') and savetime > STR_TO_DATE(#{sTime},'%Y-%m-%d %H:%i:%s') and speed>0 ORDER BY savetime ASC;
  </select>



  <select id="selectByPrimaryKey" parameterType="cn.edu.bjtu.jzlj.dao.THistoryPosition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_history_position
    where id = #{id,jdbcType=VARCHAR}
    and uptime = #{uptime,jdbcType=TIMESTAMP}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="cn.edu.bjtu.jzlj.dao.THistoryPosition">
    delete from t_history_position
    where id = #{id,jdbcType=VARCHAR}
      and uptime = #{uptime,jdbcType=TIMESTAMP}
  </delete>

  <insert id="insert" parameterType="cn.edu.bjtu.jzlj.dao.THistoryPosition">
    insert into t_history_position (id, uptime, terminal_id,
      carno, lon, lat, speed, 
      direction, height, mile, 
      oil, `status`, alarmflag, 
      acc, `position`, lon_gcj02, 
      lat_gcj02, savetime,airtight, load_state, lift)
    values (#{id,jdbcType=VARCHAR}, #{uptime,jdbcType=TIMESTAMP}, #{terminalId,jdbcType=VARCHAR}, 
      #{carno,jdbcType=VARCHAR}, #{lon,jdbcType=DECIMAL}, #{lat,jdbcType=DECIMAL}, #{speed,jdbcType=DECIMAL}, 
      #{direction,jdbcType=INTEGER}, #{height,jdbcType=DECIMAL}, #{mile,jdbcType=DECIMAL}, 
      #{oil,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{alarmflag,jdbcType=VARCHAR}, 
      #{acc,jdbcType=TINYINT}, #{position,jdbcType=TINYINT}, #{lonGcj02,jdbcType=DECIMAL}, 
      #{latGcj02,jdbcType=DECIMAL}, #{savetime,jdbcType=TIMESTAMP}, #{airtight,jdbcType=TINYINT},
            #{loadState,jdbcType=TINYINT},#{lift,jdbcType=TINYINT})

  </insert>
  <insert id="insertSelective" parameterType="cn.edu.bjtu.jzlj.dao.THistoryPosition">
    insert into t_history_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uptime != null">
        uptime,
      </if>
      <if test="terminalId != null">
        terminal_id,
      </if>
      <if test="carno != null">
        carno,
      </if>
      <if test="lon != null">
        lon,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="speed != null">
        speed,
      </if>
      <if test="direction != null">
        direction,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="mile != null">
        mile,
      </if>
      <if test="oil != null">
        oil,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="alarmflag != null">
        alarmflag,
      </if>
      <if test="acc != null">
        acc,
      </if>
      <if test="position != null">
        `position`,
      </if>
      <if test="lonGcj02 != null">
        lon_gcj02,
      </if>
      <if test="latGcj02 != null">
        lat_gcj02,
      </if>
      <if test="savetime != null">
        savetime,
      </if>
      <if test="airtight != null">
        airtight,
      </if>
      <if test="loadState != null">
        load_state,
      </if>
      <if test="lift != null">
        lift
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null">
        #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="terminalId != null">
        #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="carno != null">
        #{carno,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        #{lon,jdbcType=DECIMAL},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=DECIMAL},
      </if>
      <if test="direction != null">
        #{direction,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="mile != null">
        #{mile,jdbcType=DECIMAL},
      </if>
      <if test="oil != null">
        #{oil,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="alarmflag != null">
        #{alarmflag,jdbcType=VARCHAR},
      </if>
      <if test="acc != null">
        #{acc,jdbcType=TINYINT},
      </if>
      <if test="position != null">
        #{position,jdbcType=TINYINT},
      </if>
      <if test="lonGcj02 != null">
        #{lonGcj02,jdbcType=DECIMAL},
      </if>
      <if test="latGcj02 != null">
        #{latGcj02,jdbcType=DECIMAL},
      </if>
      <if test="savetime != null">
        #{savetime,jdbcType=TIMESTAMP},
      </if>
      <if test="airtight != null">
        #{airtight,jdbcType=TINYINT},
      </if>
      <if test="loadState != null">
        #{loadState,jdbcType=TINYINT},
      </if>
      <if test="lift != null">
        #{lift,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.bjtu.jzlj.dao.THistoryPosition">
    update t_history_position
    <set>
      <if test="terminalId != null">
        terminal_id = #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="carno != null">
        carno = #{carno,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        lon = #{lon,jdbcType=DECIMAL},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="speed != null">
        speed = #{speed,jdbcType=DECIMAL},
      </if>
      <if test="direction != null">
        direction = #{direction,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="mile != null">
        mile = #{mile,jdbcType=DECIMAL},
      </if>
      <if test="oil != null">
        oil = #{oil,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="alarmflag != null">
        alarmflag = #{alarmflag,jdbcType=VARCHAR},
      </if>
      <if test="acc != null">
        acc = #{acc,jdbcType=TINYINT},
      </if>
      <if test="position != null">
        `position` = #{position,jdbcType=TINYINT},
      </if>
      <if test="lonGcj02 != null">
        lon_gcj02 = #{lonGcj02,jdbcType=DECIMAL},
      </if>
      <if test="latGcj02 != null">
        lat_gcj02 = #{latGcj02,jdbcType=DECIMAL},
      </if>
      <if test="savetime != null">
        savetime = #{savetime,jdbcType=TIMESTAMP},
      </if>
      <if test="airtight != null">
        airtight = #{airtight,jdbcType=TINYINT},
      </if>
      <if test="loadState != null">
        load_state = #{loadState,jdbcType=TINYINT},
      </if>
      <if test="lift != null">
        lift = #{lift ,jdbcType=TINYINT}
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
    and uptime = #{uptime,jdbcType=TIMESTAMP}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.edu.bjtu.jzlj.dao.THistoryPosition">
    update t_history_position
    set terminal_id = #{terminalId,jdbcType=VARCHAR},

      carno = #{carno,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=DECIMAL},
      lat = #{lat,jdbcType=DECIMAL},
      speed = #{speed,jdbcType=DECIMAL},
      direction = #{direction,jdbcType=INTEGER},
      height = #{height,jdbcType=DECIMAL},
      mile = #{mile,jdbcType=DECIMAL},
      oil = #{oil,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=VARCHAR},
      alarmflag = #{alarmflag,jdbcType=VARCHAR},
      acc = #{acc,jdbcType=TINYINT},
      `position` = #{position,jdbcType=TINYINT},
      lon_gcj02 = #{lonGcj02,jdbcType=DECIMAL},
      lat_gcj02 = #{latGcj02,jdbcType=DECIMAL},
      savetime = #{savetime,jdbcType=TIMESTAMP},
        airtight = #{airtight,jdbcType=TINYINT},
        load_state = #{loadState,jdbcType=TINYINT},
        lift = #{lift,jdbcType=TINYINT}

    where id = #{id,jdbcType=VARCHAR}
      and uptime = #{uptime,jdbcType=TIMESTAMP}
  </update>

  <select id="numberOfVehicleUsed" resultType="INTEGER">
    SELECT COUNT(DISTINCT terminal_id) as all_online FROM ${tableName}
  </select>

  <select id="getRectangleRegionalVehiclesWithTimeLimit" resultType="cn.edu.bjtu.jzlj.vo.RegionalVehicleSelectionVo">
    SELECT a.terminal_id, a.uptime, c.car_no
    FROM
    (SELECT t.terminal_id, MAX(t.uptime) uptime
    FROM ${tableName} t
    WHERE t.lat >= #{startLat,jdbcType=DECIMAL} AND t.lat &lt;= #{endLat,jdbcType=DECIMAL}
      AND t.lon >= #{startLong,jdbcType=DECIMAL} AND t.lon &lt;= #{endLong,jdbcType=DECIMAL}
    AND t.uptime >= #{startTime,jdbcType=TIMESTAMP} AND t.uptime &lt;= #{endTime,jdbcType=TIMESTAMP}
    GROUP BY t.terminal_id
    ) a
    LEFT JOIN car_info c
    ON a.terminal_id = c.terminal_id
    Order By uptime DESC
  </select>

  <select id="getCircleRegionalVehiclesWithTimeLimit" resultType="cn.edu.bjtu.jzlj.vo.RegionalVehicleSelectionVo">
    SELECT a.terminal_id, a.uptime, c.car_no
    FROM
    (SELECT t.terminal_id, MAX(t.uptime) uptime
    FROM ${tableName} t
    WHERE (t.lat - #{centerLat,jdbcType=DECIMAL}) * (t.lat - #{centerLat,jdbcType=DECIMAL})
              + (t.lon - #{centerLong,jdbcType=DECIMAL}) * (t.lon - #{centerLong,jdbcType=DECIMAL})
              &lt;= #{semidiameter, jdbcType=DECIMAL} * #{semidiameter, jdbcType=DECIMAL}
      AND t.uptime >= #{startTime,jdbcType=TIMESTAMP}
      AND t.uptime &lt;= #{endTime,jdbcType=TIMESTAMP}
    GROUP BY t.terminal_id
    ) a
    LEFT JOIN car_info c
    ON a.terminal_id = c.terminal_id
    Order By uptime DESC
  </select>

  <select id="getPolygonRegionalVehiclesWithTimeLimit" resultType="cn.edu.bjtu.jzlj.vo.RegionalVehicleSelectionVo">
    SELECT a.terminal_id, a.uptime, IFNULL(r.carno, c.car_no) car_no
    FROM
    (SELECT t.terminal_id, MAX(t.uptime) uptime
    from ${tableName} t
    where MBRContains(
    ST_GeomFromText(CONCAT('POLYGON((', #{polygon, jdbcType=VARCHAR}, '))')),
    ST_GeomFromText(CONCAT('POINT(', lon, ' ', lat, ')'))
    ) > 0
    AND t.uptime >= #{startTime,jdbcType=TIMESTAMP}
    AND t.uptime &lt;= #{endTime,jdbcType=TIMESTAMP}
    GROUP BY t.terminal_id) a
    LEFT JOIN car_info c
    ON a.terminal_id = c.terminal_id
    LEFT JOIN t_realtime_position r
    ON a.terminal_id = r.terminal_id
    Order By uptime DESC
  </select>

</mapper>